# Python cache
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code settings
.vscode/

# SQLite databases
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# Operating System files
Thumbs.db
.DS_Store

# Logs
*.log